#!/usr/bin/env bash

# Export all variables that are sourced
set -a

GIT_ROOT=$(git rev-parse --show-toplevel)
KUBECONFIG=${GIT_ROOT}/.secrets/kubeconfig

. .vars.public
. .vars.secret

set +a

# Add scripts path
PATH_add .bin
PATH_add ${GIT_ROOT}/scripts
PATH_add ${GIT_ROOT}/scripts/ansible
PATH_add ${GIT_ROOT}/scripts/rpi_flash
